* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  padding: 80px;
  text-align: center;
  color: white;
  background: #2f5780
}

.header h1 {
  font-size: 40px;
}


.navbar {
  overflow: hidden;
  background-color: #3c8e70;
}


.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 13px 20px;
  text-decoration: none;
}


.navbar a.nopadding{
  padding: 0px 0px;
}

.navbar a.right {
  float: right;
}


.footer {
  font-size: 10px;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: #2f5780
}

@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 13px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #138f76;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3c8e70;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #138f76;
}

.dropdown:hover .dropdown-content {
  display: block;
}